<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>kaifeng</string>
		<key>image</key>
		<string>kaifeng.png</string>
		<key>coin</key>
		<integer>1000000</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>dexing</string>
		<key>image</key>
		<string>dexing.png</string>
		<key>coin</key>
		<integer>200</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string>30</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>coin</key>
		<integer>0</integer>
		<key>collect</key>
		<array/>
		<key>flow</key>
		<array/>
		<key>honorary</key>
		<string></string>
	</dict>
</array>
</plist>
